<!doctype html>
<html>
<meta charset=utf-8>
<title>London Bus Stop Arrival Times</title>
<meta name=description content="London bus stop arrival times within 300 metres of your current location.">
<meta name=viewport content=width=device-width>

<link href=/style.css rel=stylesheet>

<body class=container ng-app=buses ng-controller=mainController>
	<h1>Bus stops within 300 metres</h1>

	<main>
		<section ng-cloak ng-repeat="stop in allArrivals | unique:'stopId' | orderBy:'distance'">
			<h2>
				{{ stop.stopName }} <span ng-if=stop.stopCode>({{ stop.stopCode }})</span>
				<span class=break>Towards {{ stop.towards }}</span>
				<span class=break>{{ stop.distance * 1000 | number:0 }} metres away</span>
			</h2>

			<ol class=list-unstyled>
				<li ng-repeat="arrival in allArrivals | filter: { stopId: stop.stopId } | orderBy:'eta'">{{ arrival.route }} to {{ arrival.destination }} ({{ arrival.eta | timeago }})</li>
			</ol>
		</section>
	</main>

	<footer>
		<div ng-cloak>
			<p ng-show=loading>{{ loading }}</p>
			<p ng-show=error class=error>{{ error }}</p>
			<p ng-if=accuracy>Location accurate to {{ accuracy | number:0 }} metres.</p>
		</div>

		<p>Made by <a href=http://beaumartinez.com/ target=_blank>Beau Martinez</a>. Data provided by TFL.</p>
	</footer>

	<script src=/main.js></script>
</body>
</html>
