<!doctype html>
<html>
<meta charset=utf-8>
<title>London Bus Arrival Times</title>
<meta name=description content="London bus stop arrival times within 300 metres of your current location.">
<meta name=viewport content=width=device-width>

<link href=/style.css rel=stylesheet>

<body class=container ng-app=buses ng-controller=mainController>
	<header>
		<h1>Bus stops within 300 metres</h1>

		<div ng-cloak>
			<div id=spinner-container>
				<div ng-show=loading class=spinner></div>
			</div>
			<p ng-show="loading && ! allArrivals">{{ loading }}</p>
			<p ng-show=error class=error>{{ error }}</p>
		</div>
	</header>

	<main ng-cloak>
		<section ng-click="visible = !visible" ng-repeat="stop in stops">
			<h2>
				{{ stop.stopName }} <span ng-if=stop.stopCode>({{ stop.stopCode }})</span>
				<span class=break>Towards {{ stop.towards }}</span>
				<span class=break>{{ stop.distance * 1000 | number:0 }} metres away</span>
			</h2>

			<ol ng-show=visible class=list-unstyled>
				<li ng-repeat="arrival in allArrivals | filter: { stopId: stop.stopId } | orderBy:'eta'">{{ arrival.route }} to {{ arrival.destination }} ({{ arrival.eta | timeago }})</li>
			</ol>
		</section>
	</main>

	<footer>
		<p ng-cloak ng-if=accuracy>Location accurate to {{ accuracy | number:0 }} metres.</p>
		<p>Made by <a href=http://beaumartinez.com/ target=_blank>Beau Martinez</a>. Data provided by TFL.</p>
	</footer>

	<script src=/main.js></script>
</body>
</html>
