<!doctype html>
<meta charset=utf-8>
<title>London Bus Arrivals</title>
<meta name=viewport content="maximum-scale=1, width=device-width">

<link href=//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css rel=stylesheet>
<style>
	a, a:active, a:hover, a:visited {
		tap-highlight-color: transparent;
		-mozilla-tap-highlight-color: transparent;
		-webkit-tap-highlight-color: transparent;

		text-decoration: inherit;
		color: #0088cc;
	}

	body {
		font-size: 16px;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	#toggle-all-container {
		margin-bottom: 20px;
	}

	#attribution-container {
		margin-top: 20px;
	}

	.hidden {
		display: none;
	}
</style>

<body class=container>
	<h1>Bus stops within 300 meters</h1>

	<div id=loading-container>
		<p>Loading...</p>
	</div>

	<div id=toggle-all-container class=hidden>
		<a href=#toggle-all>Toggle all</a>
	</div>

	<article id=content></article>

	<footer id=attribution-container class=hidden>
		<p>Data provided by TFL</p>
	</footer>

	<script src=//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js></script>
	<script src=//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js></script>
	<script src=//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js></script>
	<script src=//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js></script>
	<script src=//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js></script>

	{% raw %}
		<script id=stop-template type=text/html>
			<div class=stop>
				<h2 class=stop-title><a href=#toggle>{{ stopName }} {{#if stopCode }}({{ stopCode }}){{/ if }}</a></h2>

				<ol class=stop-arrivals>
					{{# arrivals }}
						{{> arrivalPartial }}	
					{{/ arrivals }}
				</ol>
			</div>
		</script>

		<script id=arrival-partial type=text/html>
			<li>{{ route }} to {{ destination }} ({{ eta }})</li>
		</script>
	{% endraw %}

	<script>
		$(function() {
			FastClick.attach(document.body);

			var arrivalPartial = document.getElementById('arrival-partial').innerHTML;
			Handlebars.registerPartial('arrivalPartial', arrivalPartial);

			var stopTemplate = document.getElementById('stop-template').innerHTML;
			stopTemplate = Handlebars.compile(stopTemplate);

			navigator.geolocation.getCurrentPosition(function(geoposition) {
				$.ajax('/arrival-times/' + geoposition.coords.latitude + '/' + geoposition.coords.longitude + '/').done(function(responseArrivals) {
					var stopLookup = _.groupBy(responseArrivals, 'stopId');
					console.log(stopLookup);

					var stopIds = Object.getOwnPropertyNames(stopLookup);
					stopIds.sort(function(stopId) {
						return stopLookup[stopId].stopName + stopLookup[stopId].stopCode;
					});

					stopIds.forEach(function(stopId) {
						var arrivals = stopLookup[stopId];
						arrivals = _.sortBy(arrivals, 'eta');

						// Timeago ETAs
						arrivals.map(function(arrival) {
							var eta = moment(arrival.eta);
							eta = eta.fromNow(true);

							arrival.eta = eta;

							return arrival;
						});

						var exampleArrival = arrivals[0];

						var renderedTemplate = stopTemplate({
							stopName: exampleArrival.stopName,
							stopCode: exampleArrival.stopCode,
							arrivals: arrivals,
						});

						// Add template, hide loading, add attribution

						var loading = document.getElementById('loading-container');
						loading.classList.add('hidden');

						var content = document.getElementById('content');
						content.innerHTML += renderedTemplate;

						var attribution = document.getElementById('attribution-container');
						attribution.classList.remove('hidden');

						var toggleAll = document.getElementById('toggle-all-container');
						toggleAll.classList.remove('hidden');
					});
				});
			});

			$('body').on('click', function(event) {
				if (event.target.hash == '#toggle') {
					event.preventDefault();

					$(event.target.parentNode).siblings().toggle();	
				}
			});
				
			$('a[href=#toggle-all]').click(function(event) {
				event.preventDefault();

				$('a[href=#toggle]').click();
			});
		});
	</script>
</body>
