<!doctype html>
<meta charset=utf-8>
<title>London Bus Arrivals</title>
<meta name=viewport content="maximum-scale=1, width=device-width">

<link href=static/css/bootstrap.css rel=stylesheet>
<style>
	a, a:active, a:hover, a:visited {
		tap-highlight-color: transparent;
		-moz-tap-highlight-color: transparent;
		-webkit-tap-highlight-color: transparent;

		text-decoration: inherit;
		color: #0088cc;
	}

	body {
		font-size: 16px;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	footer {
		margin-top: 24px;
	}

	#loading-container {
		margin-bottom: 20px;
	}

	.hidden {
		display: none;
	}

	a.toggled {
		color: #005580;
	}
</style>

<body class=container>
	<h1>Bus stops within 300 meters</h1>

	<div id=loading-container>
		<p id=loading>Getting location data...</p>
		<p class=hidden><a href=#toggle-all>Toggle all</a></p>
	</div>

	<article id=content></article>

	<footer>
		<p>Made by <a href=http://beaumartinez.com/ target=_blank>Beau Martinez</a>. Data provided by TFL. Not affiliated with TFL.</p>
	</footer>

	<script id=stop-template type=text/html>
		<div class=stop>
			<h2 class=stop-title><a href=#toggle>{{> stopTitleTemplate }}</a></h2>

			<ol class=stop-arrivals>
				{{# arrivals }}
					{{> arrivalTemplate }}	
				{{/ arrivals }}
			</ol>
		</div>
	</script>

	<script id=stop-title-template type=text/html>
		{{ exampleArrival.stopName }} {{#if exampleArrival.stopCode }}({{ exampleArrival.stopCode }}){{/ if }}
	</script>

	<script id=arrival-template type=text/html>
		<li>{{ route }} to {{ destination }} ({{ eta }})</li>
	</script>

	<script data-main=static/js/main src=static/js/require-jquery.js></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-40686809-1', 'tflbuses.com');
		ga('send', 'pageview');
	</script>
</body>
