@import url('bootstrap.css');

a, a:active, a:hover, a:visited {
	tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;

	text-decoration: inherit;
	color: #0088cc;
}

body {
	font-size: 16px;
}

h1 {
	font-size: 24px;
	line-height: 1.2;
	margin-top: 18px;
	margin-bottom: 12px;
}

h2 {
	font-size: 20px;
	line-height: 1.2;
	margin-top: 18px;
	margin-bottom: 8px;
}

h2 .towards {
	display: block;
	font-weight: normal;
}

footer {
	margin-top: 14px;
}

#loading-container {
	margin-bottom: 12px;
}

.hidden {
	display: none;
}

.stop-arrivals {
	margin-left: 0;
	list-style: none;
}

.toggled ol {
	display: none;
}
